---
import { Image } from "astro:assets";
import Main from "../layouts/main.astro";

const content = {
  title: "EpubKit",
};
---

<Main content={content}>
  <section class="p-6 md:p-24 max-w-[1200px] mx-auto">
    <div class="flex flex-col gap-12">
      <Image width="128" height="128" src="/icon.png" alt="EpubKit" />
      <div class="text-5xl font-black">
        <p>The best tool to</p>
        <p>
          convert
          <span class="text-green-700">web pages to Ebook</span>.
        </p>
      </div>

      <div class="flex items-start">
        <a
          class="bg-black/80 inline-block text-center text-white/90 px-6 py-3 font-medium rounded-xl"
          href="https://github.com/djyde/epubkit-release/releases/download/v1.0.5/epubkit-1.0.5-arm64.dmg"
        >
          <div class="text-md">Download for macOS (ARM64)</div>
        </a>
        <a
          class="inline-block text-center px-6 py-3 font-medium rounded-xl"
          href="https://github.com/djyde/epubkit-release/releases/download/v1.0.5/epubkit-1.0.5-arm64.dmg"
        >
          <div class="text-md">Download for macOS (Intel)</div>
        </a>
      </div>

      <div>
        <img class="rounded-xl border-4 border-black/70" src="/intro3.png" />
      </div>
    </div>
  </section>
  <!-- <section class="mt-24 flex flex-col gap-24 text-center">
    <div class="flex flex-col">
      <Image width="128" height="128" src="/icon.png" alt="EpubKit" />
      <span class="font-bold">EpubKit</span>
    </div>

    <div class="text-5xl font-black">
      <h1>
        The best tool to convert <span class="text-green-700"
          >web pages to Ebook</span
        >
      </h1>
    </div>

    <div class="">
      <a
        class="bg-black/90 text-white/90 px-6 py-4 font-bold rounded-lg"
        href="https://github.com/djyde/epubkit-release/releases/latest/download/epubkit.dmg"
        >Download (macOS)</a
      >
    </div>
  </section>

  <section class="max-w-[1200px] mx-auto mt-16">
    <img src="/intro.png" />
  </section>

  <section class="max-w-[960px] mx-auto mt-32">
    <h2 class="text-4xl font-bold text-center mb-12">Features</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div>
        <div class="flex flex-col gap-3 rounded-lg p-6">
          <h3 class="text-xl font-bold">Privacy First</h3>
          <div class="text-black/80">
            <p>EpubKit is a desktop app, all your data is processed locally.</p>
            <p>
              We <strong>never</strong> upload your data to the server.
            </p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex flex-col gap-3 rounded-lg p-6">
          <h3 class="text-xl font-bold">Full load</h3>
          <div class="text-black/80">
            <p>
              Import any web page, whether it is a dynamic web page or a web
              page that requires login.
            </p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex flex-col gap-3 rounded-lg p-6">
          <h3 class="text-xl font-bold">Mutli-pages import</h3>
          <div class="text-black/80">
            <p>You can import all sub pages in the page in one click</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="max-w-[1200px] mx-auto mt-32">
    <h2 class="text-4xl font-bold text-center mb-24">Pricing</h2>

    <div class="">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="space-y-4">
          <h3 class="font-medium text-xl">Free</h3>
          <div class="text-4xl font-bold">$0</div>
          <div>For starter</div>
          <div class="text-left">
            <ul class="leading-loose">
              <li>⚡ Full load</li>
              <li>📔 Up to 10 pages per ebook</li>
              <li>🌌 Customize ebook cover</li>
              <li>💌 EpubKit preface page in export ebook</li>
            </ul>
          </div>
        </div>

        <div class="space-y-4">
          <h3 class="font-medium text-xl">Pro</h3>
          <div class="text-4xl font-bold">$12</div>
          <div>One-time payment</div>
          <div class="text-left">
            <ul class="leading-loose">
              <li>🫶 One year support</li>
              <li>⚡ Full load</li>
              <li>📔 Unlimited pages per ebook</li>
              <li>🌌 Customize ebook cover</li>
              <li>💌 Remove EpubKit preface page in export ebook</li>
              <li>💻 1 devices</li>
            </ul>
          </div>
        </div>

        <div class="space-y-4">
          <h3 class="font-medium text-xl">Lifetime</h3>
          <div class="text-4xl font-bold">$39</div>
          <div>One-time payment</div>
          <div class="text-left">
            <ul class="leading-loose">
              <li>🫶 Life time support</li>
              <li>⚡ Full load</li>
              <li>📔 Unlimited pages per ebook</li>
              <li>🌌 Customize ebook cover</li>
              <li>💌 Remove EpubKit preface page in export ebook</li>
              <li>💻 2 devices</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <footer class="my-64"></footer>
</Main>
