---
const { content } = Astro.props;
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <SEO 
      title={content.title}
      description="Best tool to convert web pages to EPUB"
      openGraph={{
        basic: {
          title: "EpubKit - web pages to EPUB",
          image: "https://epubkit.app/og.png",
          type: "website"
        },
        optional: {
          description: "EpubKit is the best tool to convert web pages to EPUB",
        }
      }}
      twitter={{
        title: "EpubKit",
        image: "https://epubkit.app/og.png",
        description: "EpubKit is the best tool to convert web pages to EPUB"
      }}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fav.ico" />
    <title>{content.title}</title>
    <style>
      html {
        background-color: rgba(0, 0, 0, 0.03);
      }
    </style>
  </head>
  <body>
    <div>
      <slot />
    </div>

    <script></script>
  </body>
</html>
